{{#each this}}
<div class="cart">
        <img src="{{this.img}}" class="img">
        <h2 class="country__name">{{this.name}}</h2>
        <p>Capital: {{this.capital}}</p>
        <p>Population: {{this.population}}</p>
        <p>Languages: {{languages}}</p>
    </div>
     {{/each}}